<%- include("header") -%>
<title>About-C.S Academy</title>
<%- include("navbar") -%>
  <!-- Description -->

  <div class="jumbotron-fluid">
    <div class="row">
      <div class="col-lg ">
        <div class="top bottom">

        </div>
        <div class="Description">

          <img class="image" src="images/C.S Academy.png" alt="">
          <br>
          <div class="col-lg col-md-6 container">
            <p class=" para lead">Our agenda is to teach coding in easy manner.Many people wants to learn code but it could not be able learn.</p>
            <p class=" para lead">We provide free video courses on trending technologies.we are still working on making video contents for you.</p>
            <p class=" para lead">C.S Academy helps you how to build professional websites from scratch, Simple and easy way.</p>
            <p class=" para lead">If you are beginer,Then we are help you to learning these things which you want.</p>
            <br>
            <br>
          </div>
        </div>
        <div class="top">

        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <section class="colored-section" id="testimonials">
    <div id="testimonial-carousel" class="carousel slide" data-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">Easy to Code.</h2>
          <br>
          <img class="testimonial-image" src="images/easy.jpg" alt="profile">
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">Free Study Resources and Materials.</h2>
          <br>
          <img class="testimonial-image" src="images/study.jpg" alt="profile">
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">Subscribe our Channel</h2>
          <br>
          <img class="testimonial-image" src="images/subscribe.jpg" alt="profile">
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
  <div class="row">
    <div class="col-lg col-md-6">
      <div class="class">
        <br>
        <br>
        <br>
        <h2 class="section-heading">Make yourself job ready.</h2>
        <br>
        <p class="para">without any cost.Totally free.</p>
        <br>
        <i class="icon fab fa-linkedin-in fa-5x"></i>
        <i class="icon fab fa-apple fa-5x"></i>
        <i class="icon fab fa-twitter fa-5x"></i>
        <i class="icon fab fa-facebook-square fa-5x"></i>
        <i class="icon fab fa-instagram fa-5x"></i>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div>
<%- include("loginmodal") -%>

<%- include("signupmodal") -%>


<%- include("footer") -%>
