<%- include("header") -%>
<title>C.S Academy:Free Video tutorials and many more</title>
<%- include("navbar") -%>
<!-- Description Section -->

<div class="overflow-x:auto main">
  <div class=" jumbotron-fluid"style="width:100%;">
    <div class="row">
      <div class="col-lg col-md-6 ">
        <div class="top">

        </div>
        <div class="Description">
          <img class="image" src="images/C.S Academy.png" alt="">
          <br>
          <div class="col-lg col-md-6 container">
            <p class=" para lead">Want to build professional website. Then visit our page for learn to how websites were made from scratch.</p>
            <p class=" para lead">C.S Academy helps you how to build professional websites from scratch, Simple and easy way.</p>
            <button type="submit" onclick="window.location.href='/videos'"class="btn btn-danger btnss">Browse Videos</button>
            <button type="button" onclick="window.location.href='https://www.youtube.com/channel/UCN7uITjQ5999LxlN4ZtlDPQ?view_as=subscriber'" type="submit" class="btn btn-success btnss">Browse Channel</button>
            <button type="button" onclick="window.location.href='/contact'" type="submit" class="btn btn-primary btnss">Contact us</button>
            <!-- <a href="/blog" class="btn btn-danger my-2">Browse Blog</a>
            <a href="/videos" class="btn btn-success my-2">Browse Video Tutorials</a>
            <a href="/contact" class="btn btn-primary my-2">Contact Me</a> -->
          </div>
        </div>
        <div class="top bottom">

        </div>
        <br><br><br>
      </div>
    </div>
  </div>
  <!-- testimonials -->
  <section class="test">
    <div class="cont">
      <div class="container">
        <div class="row">
          <div class="col-lg col-lg-4 col-md-6">
            <div class="card" style="width:100%;";padding-left:5%;">
              <img src="images/videos.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Free Video Courses</h5>
                <p class="card-text">Get your Web Development career started with these free video courses. Source code is available with all the videos for your better experience and understanding.</p>
                <button onclick="window.location.href='/videos'" type="submit" class="btn btn-primary btn-lg btn-block">Browse Videos</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 100%;height:30.9rem;">
              <img src="images/Article.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Coding Articles</h5>
                <p class="card-text">Some of the latest coding information compiled as coding articles. Keep your programming knowledge up to date with our coding articles.</p>
                <br>
                <button type="button" class="btn btn-primary btn-lg btn-block"> Articles</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 100%;height:30.9rem;">
              <img src="images/contact.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Contact us</h5>
                <p class="card-text">Learn programming from our free courses. Examples are available with these tutorials. You can contact me for any doubt and I will get back to you!</p>
                <br>
                <button onclick="window.location.href='/contact'" type="submit" class="btn btn-primary btn-lg btn-block">Contact us</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include("loginmodal") -%>

  <%- include("signupmodal") -%>
  <%- include("footer") -%>
</div>
